body {
  background: linear-gradient(141deg, #d32f2f 0%, #bb2f2f 51%, #922f2f 75%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
}

.app-text {
  margin: 2%;
  margin-top: 3%;
  text-align: center;
}